<!DOCTYPE html>
<html lang="en" dir="" ltr>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFA Team</title>
</head>

<body>
    <h1>Welcome to the Miracle World</h1>
    <p>What is your name?</p>
    <form action="/game" method="post">
        <p>Player: <input id="humanPlayer-name-textbox" type="text" name="humanPlayer" autofocus></p>
        <input id="botPlayer-name" type="hidden" name="botPlayer" value="botPlayer">
        <input type="submit" value="Submit!" id="names-submit">
    </form>

</body>

</html>